*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    width: 100vw;
    overflow-x: hidden;
}
p{
    text-indent: 25px;
}

header{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    background-color: rgb(40, 40, 40);
}
#logo{
    height: 40px;
}
#navBar{
    display: flex;
    gap: 25px;
    list-style: none;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
}
#navBar a{
    text-decoration: none;
    transition: .3s;
    color: white;
}
#navBar a:hover{
    color: rgb(251, 156, 26);
}

#secHome{
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
#carousel{
    width: 100vw;
    height: 100%;
}
#containerCarousel{
    width: 200vw;
    display: flex;
    height: 100%;
    transition: 2s;
}
.bgCarousel{
    width: 100vw;
    height: 100%;
    background-size: cover;
}
#divBg1{
    background-image: url("../img/card1.jpeg");
}
#divBg2{
    background-image: url("../img/card2.jpeg");
}
#secHome h1{
    font-size: 35px;
}
#divInfo{
    background-color: rgba(255, 255, 255, 0.8);
    width: 40%;
    padding: 40px 20px 40px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: absolute;
    right: 100px;
}
#secHome p{
    text-align: justify;
    text-indent: 25px;
}
#secHome a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(251, 156, 26);
    width: 100%;
    height: 40px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    border: 2px solid rgb(216, 135, 22);
    transition: .5s;
}
#secHome a:hover{
    color: white;
}
#inputMore{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    text-align: center;
    padding: 10px;
    color: white;
    cursor: pointer;
}

#secAbout{
    width: 100%;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: space-evenly;
    padding: 200px 0px;
}
#secAbout h2{
    font-size: 50px;
    color: rgb(251, 156, 26);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #000;
}


#secAbout div{
    width: 40%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction:  column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    text-align: justify;
}
#secServices{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    gap: 100px;
    background-color: rgb(40, 40, 40);
}
#secServices h2{
    color: white;
}
#containterCard{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.card{
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 100px;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon img{
    width: 60px;
}
.card:hover{
    transform: scale(1.2);
}

.divText{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
.divText>h1{
    color: white;
}
.divText>h2 {
    text-decoration: underline;
    white-space: nowrap;
    font-size: 16px;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    color: white;
    padding: 50px;
}
footer h2{
    font-size: 22px;
}
footer h3{
    font-size: 16px;
    color: #bbbbbb;
}
footer>div{
    width: 100%;
}
#divContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}
#divContact a{
    color: #bbbbbb;
    text-decoration: none;
}
#divLogo{
    display: flex;
    justify-content: center;
}
#divLogo img{
    width: 50%;
}
#divSocials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#divSocials img{
    width: 50px;
}




@media (max-width: 1100px){
    #divInfo{
        width: 70%;
    }
    #secAbout img{
        width: 45%;
    }
}
@media (max-width: 1000px){
    #containterCard{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 900px){
    #secAbout h2{
        font-size: 40px;
    }

}
@media (max-width: 800px){
    header{
        padding: 10px;
    }
    #divInfo{
        width: 100%;
        left: 0px;
        right: 0px;
        margin: auto;
    }
    #secAbout{
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 100px;
        gap: 100px;
    }
    #secAbout img{
        width: 80%;
    }
    #secAbout div{
        width: 80%;
    }
    #secServices{
        padding-top: 10px;
    }
    footer{
        grid-template-columns: 1fr;
        gap: 100px;
    }
}

@media (max-width: 600px){
    #navBar{
        gap: 5px;
        font-size: 10px;
    }
    #secAbout h2{
        font-size: 30px;
    }
    .card{
        width: 90%;
    }
    #containterCard{
        grid-template-columns: 1fr;
    }
}